<div class="container">
  <div class="stock-info">
    <div class="title">{{ stock?.name }}</div>
    <div class="symbol">{{ stock?.symbol }} {{ stock?.currency }}</div>
  </div>
  <div class="row justify-content-center data-panel">
    <div class="col-sm-3 date">
      <label for="startDate">Start Date</label>
      <input id="startDate" type="date" class="form-control" [ngModel]="startDate | date: 'yyyy-MM-dd'" (ngModelChange)="startDate = $event">
    </div>
    <div class="col-sm-3 date">
      <label for="endDate">End Date</label>
      <input id="endDate" type="date" class="form-control" [ngModel]="endDate | date: 'yyyy-MM-dd'" (ngModelChange)="endDate = $event">
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-success" (click)="downloadStockData()">
        <i class="fa fa-download"></i> Download</button>
    </div>
    <div class="col-sm-1">
      <i *ngIf="downloadSpinner" class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-danger" (click)="deleteStockData()">
        <i class="fa fa-trash"></i> Delete</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <div class="chart">
        <canvas baseChart #baseChart="base-chart" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend"
          [chartType]="chartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
</div>