<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{ stock?.name }}</h1>
      <h2>{{ stock?.symbol }} {{ stock?.currency }}</h2>
    </div>
  </div>
  <div class="row justify-content-center data-panel">
    <div class="col-sm-3 date">
      <label for="startDate">Start Date</label>
      <input id="startDate" type="date" class="form-control" [(ngModel)]="startDate" #ctrl="ngModel">
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-success" (click)="downloadStockData()">
        <i class="fa fa-download"></i> Download</button>
    </div>
    <div class="col-sm-1">
      <i *ngIf="downloadSpinner" class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-danger" (click)="deleteStockData()">
        <i class="fa fa-trash"></i> Delete</button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <div class="chart">
        <canvas baseChart #baseChart="base-chart" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend"
          [chartType]="chartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>
</div>