<div class=container>
  <div class="row">
    <div class="col-md profile">
      <img class="photo" src="assets/photos/samy.png">
      <br>
      <a class="name">Samy Amraoui</a>
      <br>
      <i class="fa fa-envelope-o"></i>
      <a class="email" href="mailto:samy.amraoui@grenoble-inp.org">samy.amraoui@grenoble-inp.org</a>
    </div>
    <div class="col-md profile">
      <img class="photo" src="assets/photos/hamza.png">
      <br>
      <a class="name">Hamza Bernoussi</a>
      <br>
      <i class="fa fa-envelope-o"></i>
      <a class="email" href="mailto:hamza.bernoussi@grenoble-inp.org">hamza.bernoussi@grenoble-inp.org</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md profile">
      <img class="photo" src="assets/photos/zineb.png">
      <br>
      <a class="name">Zineb El Filali Ech-Chafiq</a>
      <br>
      <i class="fa fa-envelope-o"></i>
      <a class="email" href="mailto:zineb.el-filali-ech-chafiq@grenoble-inp.org">zineb-el-filali-ech-chafiq@grenoble-inp.org</a>
    </div>
    <div class="col-md profile">
      <img class="photo" src="assets/photos/thomas.png">
      <br>
      <a class="name">Thomas Kerboul</a>
      <br>
      <i class="fa fa-envelope-o"></i>
      <a class="email" href="mailto:thomas.kerboul@grenoble-inp.org">thomas.kerboul@grenoble-inp.org</a>
    </div>
  </div>
</div>