h1 {
    margin: 10px;
    text-align: center;
}

.container {
    width: 420px;
    max-width: 80%;
}

.alert {
    text-align: center;
}

.btn-login {
    text-align: center;
}

.top-buffer {
    margin-top: 20px;
}

.top-large-buffer {
    margin-top: 50px;
}