<div class="container">
  <div class="row justify-content-center main-data-panel">
    <div class="col-sm-2">
      <a class="panel-title">
        Main controller
      </a>
    </div>
    <div class="col-sm-3 date">
      <label for="startDate">Start Date</label>
      <input id="startDate" type="date" class="form-control" [ngModel]="startDate | date: 'yyyy-MM-dd'" (ngModelChange)="startDate = $event">
    </div>
    <div class="col-sm-3 date">
      <label for="endDate">End Date</label>
      <input id="endDate" type="date" class="form-control" [ngModel]="endDate | date: 'yyyy-MM-dd'" (ngModelChange)="endDate = $event">
    </div>
    <div class="col-md-3">
      <div class="row justify-content-center button-section">
        <button type="button" class="btn btn-success" (click)="downloadStocksData()">
          <i class="fa fa-download"></i> Download</button>
      </div>
      <div class="row justify-content-center button-section">
        <button type="button" class="btn btn-danger" (click)="deleteStocksData()">
          <i class="fa fa-trash"></i> Delete</button>
      </div>
    </div>
  </div>
  <div class="title">
    Historical Stock Prices
  </div>
  <app-stock [stockSymbol]="euroStoxx50"></app-stock>
  <app-stock [stockSymbol]="snp500"></app-stock>
  <app-stock [stockSymbol]="snp200"></app-stock>
  <div class="title">
    Historical Exchange Rates
  </div>
  <app-stock [stockSymbol]="eurUsd"></app-stock>
  <app-stock [stockSymbol]="eurAud"></app-stock>
</div>