.container {
    padding: 48px 0;
}

.title {
    padding: 24px 0;
    font-size: 48px;
    text-align: center;
}

.infos {
    padding: 48px 0 48px 0;
    // columns vertically aligned
    display: flex;
    align-items: center;
}

.infos table td {
    vertical-align: middle;
}

.infos ul {
    list-style-type: none;
}

.center {
    text-align: center;
}

.logo {
    max-width: 368px;
}