<div class="container">
  <div class="title">
    Welcome to Actigo 90
  </div>
  <div class="row justify-content-center infos">
    <div class="col-md-8">
      <table class="table">
        <tbody>
          <tr>
            <td>ISIN</td>
            <td>FR0012366797</td>
          </tr>
          <tr>
            <td>Category</td>
            <td>Fond commun de placement</td>
          </tr>
          <tr>
            <td>Creation</td>
            <td>Jan 9, 2015</td>
          </tr>
          <tr>
            <td>Duration</td>
            <td>Apr 10, 2015 - Apr 14, 2023</td>
          </tr>
          <tr>
            <td>Stocks</td>
            <td>
              <ul>
                <li>Euro Stoxx 50</li>
                <li>S&P 500</li>
                <li>S&P ASX/200</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>First subscription minimum</td>
            <td>100€</td>
          </tr>
          <tr>
            <td>Formula</td>
            <td>90&#x25; of initial investment + mean performance of stocks</td>
          </tr>
          <tr>
            <td>Constatation dates</td>
            <td>Every 6 months</td>
          </tr>
          <tr>
            <td>Company</td>
            <td>Natixis Asset Management</td>
          </tr>
          <tr>
            <td>Risk rate</td>
            <td>Level 3</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <img class="logo" src="assets/images/natixis.png">
    </div>
  </div>
</div>