<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="portfolio-info">
        <table class="table">
          <thead>
            <tr>
              <th colspan="2">Portfolio Info</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-left">Price</td>
              <td class="align-right">{{ price }} €</td>
            </tr>
            <tr>
              <td class="align-left">Last rebalancing</td>
              <td class="align-right">{{ deltas }}</td>
            </tr>
            <tr>
              <td class="align-left">P&L</td>
              <td class="align-right">{{ pnl }} &#x25;</td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary" (click)="rebalance()">
          <i class="fa fa-balance-scale"></i> Rebalance</button>
      </div>
    </div>
  </div>
  <div class="row justify-content-center pricing">
    <div class="col-md-3">
      <form class="form" (ngSubmit)="actigoDelta()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="pricingDate">Pricing date</label>
          <input id="pricingDate" type="date" class="form-control" name="pricingDate" [ngModel]="pricingDate | date: 'yyyy-MM-dd'" (ngModelChange)="pricingDate = $event">
        </div>
        <div class="form-group">
          <button type="submit" arial-label="Pricing" class="btn btn-success">
            <i class="fa fa-money fa-lg"></i> Pricing</button>
        </div>
      </form>
      <i *ngIf="pricingSpinner" class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
    </div>
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <tr>
            <td>Date</td>
            <td>{{ pricingDate }}</td>
          </tr>
          <tr>
            <td>Euro Stoxx 50</td>
            <td>{{ pricing?.euroStoxx50 }}</td>
          </tr>
          <tr>
            <td>S&P 500</td>
            <td>{{ pricing?.snp500 }}</td>
          </tr>
          <tr>
            <td>S&P ASX/200</td>
            <td>{{ pricing?.snp200 }}</td>
          </tr>
          <tr>
            <td>EUR/USD</td>
            <td>{{ pricing?.eurUsd }}</td>
          </tr>
          <tr>
            <td>EUR/AUD</td>
            <td>{{ pricing?.eurAud }}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>{{ pricing?.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <a class="delta-title">
      Deltas
    </a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Euro Stoxx 50</th>
          <th scope="col">S&P 500</th>
          <th scope="col">S&P/ASX 200</th>
          <th scope="col">EUR/USD</th>
          <th scope="col">EUR/AUD</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let delta of deltas">
          <td>{{ delta.date | date : format : mediumDate }}</td>
          <td>{{ delta.delta }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>