<div class="container">
  <div class="row justify-content-center rebalance v-center">
    <div class="col-md-6">
      <div class="portfolio-info">
        <table class="table">
          <thead>
            <tr>
              <th colspan="2">Portfolio Info</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="align-left">Last rebalancing</td>
              <td class="align-right">{{ prices[0]?.date | date : 'mediumDate' }}</td>
            </tr>
            <tr>
              <td class="align-left">Actigo Price</td>
              <td class="align-right">{{ prices[0]?.actigo | number : '1.4-4' }} €</td>
            </tr>
            <tr>
              <td class="align-left">Hedging Price</td>
              <td class="align-right">{{ prices[0]?.hedging | number : '1.4-4' }} €</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <form class="form" (ngSubmit)="rebalance()" #f="ngForm" novalidate>
        <div class="from-group">
          <label for="mcSamples">Monte Carlo Samples</label>
          <input id="mcSamples" type="number" class="form-control" name="mcSamples" [(ngModel)]="mcSamples">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-balance-scale"></i> Rebalance</button>
        </div>
      </form>
      <div class="form-group">
        <i *ngIf="rebalancingSpinner" class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
      </div>
    </div>
  </div>
  <div class="row justify-content-center refresh">
    <div class="col-sm-4">
      <button type="button" arial-label="Refresh" class="btn btn-secondary" (click)="getDeltasPrices()">
        <i class="fa fa-retweet fa-lg"></i> Refresh Data</button>
    </div>
    <div class="col-sm-2">
      <i *ngIf="refreshDataSpinner" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
  </div>
  <div class="row justify-content-center pricing v-center">
    <div class="col-md-3">
      <form class="form" (ngSubmit)="actigoDelta()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="pricingDate">Pricing date</label>
          <input id="pricingDate" type="date" class="form-control" name="pricingDate" [ngModel]="pricingDate | date: 'yyyy-MM-dd'"
            (ngModelChange)="pricingDate = $event">
        </div>
        <div class="form-group">
          <button type="submit" arial-label="Pricing" class="btn btn-success">
            <i class="fa fa-money fa-lg"></i> Pricing</button>
        </div>
        <div class="form-group">
          <i *ngIf="pricingSpinner" class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <tr>
            <td>Date</td>
            <td>{{ pricingDate }}</td>
          </tr>
          <tr>
            <td>Euro Stoxx 50</td>
            <td>{{ pricing?.euroStoxx50 }}</td>
          </tr>
          <tr>
            <td>S&P 500</td>
            <td>{{ pricing?.snp500 }}</td>
          </tr>
          <tr>
            <td>S&P ASX/200</td>
            <td>{{ pricing?.snp200 }}</td>
          </tr>
          <tr>
            <td>EUR/USD</td>
            <td>{{ pricing?.eurUsd }}</td>
          </tr>
          <tr>
            <td>EUR/AUD</td>
            <td>{{ pricing?.eurAud }}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>{{ pricing?.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row justify-content-center">
    <a class="delta-title">
      Deltas
    </a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Actigo</th>
          <th scope="col">Hedging</th>
          <th scope="col">Euro Stoxx 50</th>
          <th scope="col">S&P 500</th>
          <th scope="col">S&P/ASX 200</th>
          <th scope="col">EUR/USD</th>
          <th scope="col">EUR/AUD</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let price of prices | slice : 0:50; let i = index">
          <td>{{ price.date | date : 'mediumDate' }}</td>
          <td>{{ price.actigo | number : '1.4-4' }} €</td>
          <td>{{ price.hedging | number : '1.4-4' }} €</td>
          <td>{{ euroStoxx50Deltas[i]?.delta | number : '1.7-7' }}</td>
          <td>{{ snp500Deltas[i]?.delta | number : '1.7-7' }}</td>
          <td>{{ snp200Deltas[i]?.delta | number : '1.7-7' }}</td>
          <td>{{ eurUsdDeltas[i]?.delta | number : '1.7-7' }}</td>
          <td>{{ eurAudDeltas[i]?.delta | number : '1.7-7' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>