.table thead {
    text-align: center;
}

.portfolio-info {
    padding: 1em 0 1em 0;
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.v-center {
    display: flex;
    align-items: center;
}

.rebalance {
    padding: 48px 0 24px 0;
}

.rebalance .form-group {
    padding: 24px 0;
}

.refresh {
    padding: 24px 0;
}

.refresh .btn {
    padding: 12px 12px;
}

.pricing {
    padding: 32px 0;
}

.pricing form {
    max-width: 156px;
    text-align: center;
}

.pricing .fa-spinner {
    margin: 16px 52px;
}

.delta-title {
    padding: 1em 0 0.5em 0;
    font-size: 48px;
    text-align: center;
}

table {
    text-align: center;
}