.container {
    padding: 48px 0;
}

.title {
    padding: 24px 0;
    font-size: 48px;
    text-align: center;
}

.tracking-panel {
    padding: 24px 0 24px 0;
    // columns vertically aligned
    display: flex;
    align-items: center;
    text-align: center;
}

.tracking-panel .btn {
    height: 72px;
    width: 152px;
}

.tracking-error {
    font-size: 28px;
    text-align: center;
}